
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #111827;
}

header {
    background-color: #111827;
    color: white;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #60a5fa;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #60a5fa;
}

.hero {
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: #e5e7eb;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #4b5563;
}

button {
    background-color: #2563eb;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 14px 30px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

.about {
    padding: 70px 20px;
    text-align: center;
}

.about h2,
.services h2,
.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    color: #4b5563;
}

.services {
    padding: 70px 20px;
    text-align: center;
    background-color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;

    margin-top: 40px;
}

.card {
    width: 280px;

    padding: 30px;

    background-color: #f5f5f5;

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #2563eb;
    margin-bottom: 15px;
}

.card p {
    color: #4b5563;
}

.contact {
    padding: 70px 20px;
    text-align: center;
}

input {
    padding: 14px;

    width: 250px;

    border: 1px solid #ccc;
    border-radius: 8px;

    margin-right: 10px;
}

#message {
    margin-top: 20px;
    color: #2563eb;
}

footer {
    background-color: #111827;
    color: white;

    text-align: center;

    padding: 20px;
}

@media (max-width: 700px) {

    header {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}
